name: Snyk example 
on: push
jobs:
  security:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: snyk/actions/setup@master
    - uses: actions/setup-go@v1
      with:
        go-version: "1.13"
    - name: Snyk monitor 
      run: snyk auth ${{ secrets.SNYK_TOKEN }}. || cd vuln_node_express-main 
 
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        
        
        
